beautifulsoup4==4.4.1
Django==1.8.6
django-blog-zinnia==0.15.2
django-contrib-comments==1.6.1
django-mptt==0.7.4
django-tagging==0.4
django-xmlrpc==0.1.5
gunicorn==19.3.0
mots-vides==2015.5.11
pillow==3.0.0
pyparsing==2.0.3
pytz==2015.6
virtualenv==13.1.2
wheel==0.26.0